<div class="cuadro">
  <h1>Bienvenido</h1>
  <p>Explora los diferentes deberes y selecciona el que desees realizar.</p>
  <div class="button-container" *ngIf="showButtons">
    <button routerLink="/Deber1">
      <i class="pi pi-book"></i> Deber 1
    </button>
    <button routerLink="/Deber2">
      <i class="pi pi-pencil"></i> Deber 2
    </button>
    <button routerLink="/Deber3">
      <i class="pi pi-calendar"></i> Deber 3
    </button>
    <button routerLink="/Deber4">
      <i class="pi pi-chart-bar"></i> Deber 4
    </button>
    <button routerLink="/Deber5">
      <i class="pi pi-globe"></i> Deber 5
    </button>
  </div>

  <router-outlet></router-outlet>

  <div class="image-container">
    <img src="https://cdn.shopify.com/s/files/1/0468/5460/2913/files/no-compres-adopta.jpg?v=1605174526" alt="Imagen representativa">
  </div>
</div>
