<div class="cuadro">
  <h1>Bienvenido</h1>
  <div class="button-container" *ngIf="showButtons">
    <button routerLink="/Deber1">
      <i class="pi pi-book"></i> Deber 1
    </button>
    <button routerLink="/Deber2">
      <i class="pi pi-pencil"></i> Deber 2
    </button>
    <button routerLink="/Deber3">
      <i class="pi pi-calendar"></i> Deber 3
    </button>
    <button routerLink="/Deber4">
      <i class="pi pi-chart-bar"></i> Deber 4
    </button>
    <button routerLink="/Deber5">
      <i class="pi pi-globe"></i> Deber 5
    </button>
  </div>

  <router-outlet></router-outlet>
</div>