<a href="casa.component.html">
  <button class="back-button">​ Volver</button>
</a>

<div class="card-container">
  <p-card header="Labrador Retriever" subheader=" Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Purple' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://media.tenor.com/Yg33sJjEQEMAAAAM/tail-walk.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Tamaño: Grande (55-80 lbs)
      Personalidad: Amigable, leal, enérgico
      Cualidades: Buena disposición para trabajar, inteligente, fácil de entrenar
      Usos comunes: Perro guía, terapia, familia
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Golden Retriever" subheader="Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://media2.giphy.com/media/FnsbzAybylCs8/giphy.gif?cid=6c09b952qshawqwr5y6bci55f4iyddw3ffv5uqfbq1atirwd&ep=v1_gifs_search&rid=giphy.gif&ct=g" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Tamaño: Grande (55-75 lbs)
      Personalidad: Amigable, paciente, atento
      Cualidades: Buena disposición, fácil de entrenar, leal
      Usos comunes: Perro de compañía, perros de caza, terapia</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Pomerania" subheader="Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://i.pinimg.com/originals/32/e1/6d/32e16d169457aed9cf7ba575708f78df.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Tamaño: Pequeño (3-7 lbs)
      Personalidad: Activo, audaz, curioso
      Cualidades: Protector, leal, independiente
      Usos comunes: Perro de compañía, show</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Bulldog Inglés" subheader="Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://media.tenor.com/EnZJyQqVR2EAAAAM/bulldog-des-moines.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Tamaño: Mediano (40-50 lbs)
      Personalidad: Tranquilo, valiente, obstinado
      Cualidades: Buen perro de guardia, valiente, necesita ejercicio moderado
      Usos comunes: Perro de compañía, perro de exposición</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header=" Pastor Alemán" subheader="Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://i.pinimg.com/originals/e0/7b/52/e07b522c39723552d758f5384c63e248.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Tamaño: Grande (50-90 lbs)
      Personalidad: Inteligente, enérgico, leal
      Cualidades: Fuerte instinto de protección, fácil de entrenar, trabaja bien en equipo
      Usos comunes: Perro policía, servicio, guardaespaldas</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Husky Siberiano" subheader="Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a  ' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://media.tenor.com/LEw-FIUATr4AAAAM/howling-howl.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Tamaño: Mediano a grande (45-60 lbs)
      Personalidad: Enérgico, amigable, independiente
      Cualidades: Muy activo, sociable con humanos y otros perros, espíritu independiente
      Usos comunes: Perro de trabajo (trineo en regiones frías), compañía</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Yorkshire Terrier" subheader="Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://media.tenor.com/HYMT61TLKdkAAAAM/yorkie-puppy.gif" />
    </ng-template>
    <p style="color: rgb(10, 10, 10);">
      Tamaño: Muy pequeño (4-7 lbs)
      Personalidad: Valiente, enérgico, leal
      Cualidades: Protector, inteligente, necesita ejercicio limitado
      Usos comunes: Perro de compañía, show</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header=" Doberman Pinscher" subheader="Mundo Canino" [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://media.tenor.com/paNO4RZhyxYAAAAM/dog.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Tamaño: Grande (60-100 lbs)
      Personalidad: Proteccionista, leal, enérgico
      Cualidades: Excelente guardián, fácil de entrenar, necesita mucho ejercicio
      Usos comunes: Perro guardia, servicio, familia</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-brown-light">
        </p-button>
      </div>
    </ng-template>
  </p-card>

</div>
